html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
}
body .background {
  position: absolute;
  height: 200vh;
  width: 100vw;
  background: linear-gradient(to bottom, black, white);
  z-index: -1;
}
body .kalkulatorContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .kalkulatorBackground {
  height: 85vh;
  width: 75vw;
  border-radius: 5px;
}
body .kalkulatorBackground {
  background-color: transparent;
  padding: 5px;
}
body .kalkulatorBackground .screen {
  border-image: linear-gradient(45deg, white, rgb(255, 166, 0)) 1;
  text-align: right;
  font-size: 22px;
  height: 5vh;
  background-color: transparent;
}
body .kalkulatorBackground .screen, body .kalkulatorBackground .padButton {
  color: white;
}
body .kalkulatorBackground .pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 5px;
  height: 80%;
  width: 75vw;
}
body .kalkulatorBackground .pad .padButton {
  display: flex;
  border: none;
  background-color: transparent;
  height: 60px;
  width: 60px;
  padding: 5px;
  justify-content: center;
  font-size: 25px;
  align-items: center;
}
body .kalkulatorBackground .pad .yellowPadButton {
  background-color: rgb(255, 166, 0);
}
body .kalkulatorBackground .pad .num, body .kalkulatorBackground .pad .c, body .kalkulatorBackground .pad .del {
  border: 1px solid white;
}
body .kalkulatorBackground .pad .padButton:nth-child(-n+2) {
  grid-column: span 2;
}
body .kalkulatorBackground .downButton {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .kalkulatorBackground .downButton .buttonHref {
  text-decoration: none;
  color: black;
}
body .kalkulatorBackground .downButton .buttonHref:active {
  -webkit-tap-highlight-color: transparent;
}
body .kalkulatorBackground .downButton .pointerDown {
  height: 25px;
  width: 25px;
  color: white;
  font-size: 25px;
  text-align: center;
  border: 1px solid white;
  border-radius: 100%;
  padding: 3vw;
}

@media only screen and (min-width: 600px) {
  body {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  body .background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, yellow, aqua);
    z-index: -1;
  }
  body .kalkulator_container, body .algorytmy_container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .kalkulator_background {
    width: 30vw;
    height: 40vw;
    background-color: red;
    border-radius: 5%;
  }
  body .algorytmy_background {
    width: 30vw;
    height: 40vw;
    background-color: blue;
    border-radius: 5%;
  }
}
.algorytmyContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
  place-items: center;
  gap: 5px;
}
.algorytmyContainer .upButton {
  margin-top: 5px;
  text-align: center;
}
.algorytmyContainer .upButton .upbuttonHref {
  text-decoration: none;
  color: black;
}
.algorytmyContainer .upButton .upbuttonHref:active {
  -webkit-tap-highlight-color: transparent;
}
.algorytmyContainer .upButton .pointerUp {
  height: 25px;
  width: 25px;
  color: black;
  font-size: 25px;
  text-align: center;
  border: 1px solid black;
  border-radius: 100%;
  padding: 3vw;
}
.algorytmyContainer .algorytmyBackground {
  display: grid;
  grid-template-rows: 5vh 5vh;
  place-items: center;
  height: 85vh;
  width: 75vw;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}
.algorytmyContainer .algorytmyBackground .selectAlgorytm, .algorytmyContainer .algorytmyBackground .algorytm, .algorytmyContainer .algorytmyBackground .algorytmInput, .algorytmyContainer .algorytmyBackground .algorytmButton {
  width: 80%;
}
.algorytmyContainer .algorytmyBackground .selectAlgorytm {
  height: 5vh;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
}
.algorytmyContainer .algorytmyBackground .algorytm {
  text-align: center;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.algorytmyContainer .algorytmyBackground .algorytm .fibonaciP {
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
