body {
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    .background {
        position: absolute;
        height: 200vh;
        width: 100vw;
        background: linear-gradient(to bottom, black, white);
        z-index: -1;
    }

    .kalkulator_container, .algorytmy_container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kalkulator_background, .algorytmy_background {
        height: 85vh;
        width: 75vw;
        border-radius: 5px;
    }

    .kalkulator_background {
        background-color: rgba($color: grey, $alpha: 0.8);
        padding: 5px;
    }

    .algorytmy_background {
        background-color: yellow;
    }

    .screen {
        border: 5px solid white;
        border-radius: 5px;
        text-align: right;
        font-size: 24px;
        padding: 5px;
    }
}


@media only screen and (min-width: 600px) {

    body {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    
        .background {
            position: absolute;
            height: 100vh;
            width: 100vw;
            background: linear-gradient(to right, yellow, aqua);
            z-index: -1;
        }
        .kalkulator_container, .algorytmy_container {
            width: 50%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .kalkulator_background {
            width: 30vw;
            height: 40vw;
            background-color: red;
            border-radius: 5%;
        }
        .algorytmy_background {
            width: 30vw;
            height: 40vw;
            background-color: blue;
            border-radius: 5%;
        }
    }
}
