
.algorytmyContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 1fr;
    place-items: center;
    gap: 5px;

    .upButton {
        margin-top: 5px;
        text-align: center;
        .upbuttonHref {
            text-decoration: none;
            color:black;
        }
    
        .upbuttonHref:active {
            -webkit-tap-highlight-color: transparent;
        }
    
        .pointerUp {
            height: 25px;
            width: 25px;
            color: black;
            font-size: 25px;
            text-align: center;
            border: 1px solid black;
            border-radius: 100%;
            padding: 3vw;
        }
    }

    .algorytmyBackground {
        display: grid;
        grid-template-rows: 5vh 5vh;
        place-items: center;
        height: 85vh;
        width: 75vw;
        border-radius: 5px;
        border: 1px solid black;
        text-align: center;

        .selectAlgorytm, .algorytm, .algorytmInput, .algorytmButton {
            width: 80%;
        }
        .selectAlgorytm {
            height: 5vh;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid black;
        }

        .algorytm {
            text-align: center;
            display: flex;
            gap: 5vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .fibonaciP {
                visibility: hidden;
            }
        }
    }
}
